.banner {
    height: 900px;
    width: 1920px;
    background-image: url(../images/background.jpg);
}
.carousel {
    position: relative;
    width: 1920px;
    overflow: hidden;
}
.carousel-images {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
.carousel-images p {
    font-size: 90px;
    font-weight: bolder;
    color: white;
}

.carousel-images img {
    width: 520px;
    height: 500px;
}

