.banner {
    height: 900px;
    width: 1920px;
    background-image: url(../images/background.jpg);
}
.carousel {
    position: relative;
    width: 1920px;
    overflow: hidden;
}
.carousel-images {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
.carousel-images p {
    font-size: 90px;
    font-weight: bolder;
    color: white;
}

.carousel-images img {
    width: 520px;
    height: 500px;
}


.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #444;
  }
