.carousel {
    position: relative;
    width: 1920px;
    overflow: hidden;
    background-color: black;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 1920px;
    height: 900px;
}

button {
    position: absolute;
    top: 50%;
    background-color: #e878228f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
